.custom-btn-primary {
  .ant-btn-default {
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #0055CC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    border-radius: 8px;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    color: white;
    
    @media (min-width: 1024px) {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      border-radius: 10px;
      font-size: 1rem;
      line-height: 1.5rem;
      color: white;
    }
    
    &:hover {
      background-color: white;
      color: black;
      border-color: gray;
      
      .custom-btn-primary-text {
        color: black;
      }
    }
    
    .custom-btn-primary-text {
      color: white;
    }
  }
  
  .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: white;
    color: black;
    border-color: gray;
  }
  
  .ant-btn-default:disabled,
  .ant-btn-default.ant-btn-disabled {
    background-color: #858585;
    border-color: #858585;
  }
}